body{
    background-color: #e4e3dc83;
}



.deco{

    color: crimson;
    font-size: 20px;
    text-transform: uppercase;

}


.ajout{
    font-size: 20px;
    margin-bottom: 10px;
    color: burlywood;
    
    
}
#centertitre{
    align-items: center;
    color: darkblue;
    border-color: darkcyan;
}

h1{
    text-transform: uppercase;
    color: rgba(59, 11, 85, 0.637);
    text-align: center;
    text-shadow: 4px 0 0 darkred;
}
#read{
    color: forestgreen;
}
#update{
    color: rgb(211, 228, 60);
}
#delete{
    color: rgb(173, 6, 15);
}
#btncv{
    color: white;
    text-decoration: none;
}
#dashacceuil{
    color: white;
    text-decoration: none;
}
.ajout{
    text-decoration: none;
    color: rgb(255, 255, 255);
    




}
#inscri1{
    margin-top: 10px;
}
